a, a:link, a:visited , a:active, a:hover{ color: inherit;}
header { background-color: #333; padding: 1em; display: flex; justify-content: space-between; align-items: center; }
header .logo{}
header .navi-wrap{ display: flex; justify-content: center; align-items:  center;}
header .navi{}